<div class="h-full flex flex-col">
    <app-header></app-header>
    <div class="flex-1 overflow-hidden">
        <div class="flex flex-row h-full">
            <div class="w-2/12 overflow-auto border-r border-slate-600 p-1">
                <div class="my-1 flex justify-between">
                    <h2 class="w-full text-xs font-bold p-1">
                        Notebooks
                    </h2>
                    <app-button
                        (clickHandler)="addNotebook()"
                        [text]="'Add'">
                    </app-button>
                </div>
                <ul>
                    @for (notebook of notebooks; track $index) {
                        <li [ngClass]="{ 'bg-slate-200': notebook.id === currentNoteBook?.id }">
                            <button class="w-full text-left text-sm p-2" (click)="setNotebook(notebook)">
                                {{ notebook.title.length > 10 ? notebook.title.substring(0, 10) + '...' : notebook.title}}
                            </button>
                        </li>
                    }
                </ul>
            </div>
            <div class="w-10/12 overflow-auto p-8">
                <div class="">
                    @if (currentNoteBook) {
                        <div class="flex flex-row w-full justify-between">
                            <input
                                class="text-xl w-1/2 focus:ring-0 focus:ring-offset-0 focus:underline"
                                [(ngModel)]="currentNoteBook.title"
                                />
                            <div class="flex">
                                <app-button
                                    class="mr-2"
                                    (clickHandler)="speakAll()"
                                    [text]="'Speak'">
                                </app-button>
                                <app-button
                                    (clickHandler)="addNote()"
                                    [text]="'Add Note'">
                                </app-button>
                            </div>
                        </div>
                        <div class="w-full flex flex-col">
                            @for (note of currentNoteBook.notes; track $index) {
                                <div class="my-2 w-full border-l border-slate-400 flex">
                                    <textarea
                                        [(ngModel)]="currentNoteBook.notes[$index]"
                                        class="p-1 bg-inherit bg-slate-100 rounded block border-none resize-none border-slate-600 w-full">
                                    </textarea>
                                    <div class="ml-2 px-2 flex flex-col justify-between">
                                        <app-button
                                            (clickHandler)="deleteNote($index)"
                                            [text]="'X'">
                                        </app-button>
                                        <app-button
                                            (clickHandler)="speakNote(note)"
                                            [text]="'>'">
                                        </app-button>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<router-outlet />
